body{
    background-color: rgba(245, 241, 11, 0.89);
}

a, a:hover, a:focus {
    text-decoration: none;
    color: rgb(29, 0, 160);
}

nav{
    text-align: center;
    padding-top: 1vh;
    padding-left: 1vw;
}

footer{
    background-color: rgb(131, 131, 185);
    color: white;
    text-align: center;
    margin-top: auto;
    border-radius: 1rem;
    max-height: 3rem;
    width: 98%;
    margin-left: 1vw;
}

footer > p{
    text-align: inherit;
    padding-top: 0.9rem;
    color: rgb(143, 6, 6);
    font-weight: bold;
    font-size: 1rem;
}

body > h3{
    font-family: 'Barlow', sans-serif;
}

.nav_buttons{
    margin: auto;
    background-color:sandybrown;
    color:rgb(46, 46, 46);
    text-decoration: none;
    font-size:calc(12px + 0.8vw);
    padding: 1.2vh;
    border-radius: 2vh;
}

#authors{
    font-family: 'Barlow', sans-serif;
}

#author-buttons{
    display: flex;
    margin-top: 2vh;
}
#form_contact{
    width: 300px;
    margin: auto;
    padding: 1rem;
}

#caronilartButton{
    justify-content: left;
    background-color:rgb(230, 127, 161);
    
}

#coutButton{
    justify-content: right;
    background-color: rgb(117, 199, 231);
}

#footCaronila{
    background-color:rgb(235, 158, 171);
}

#footCout{
    background-color: rgb(127, 143, 241);
}

#comingSoon{
    display: flex;
    justify-content: center;
}

#itchioButton{
    display: flex;
    justify-content: center;
    max-width: 20rem;
    flex-wrap: wrap;
}

/* Media Querys */

@media screen and (max-width: 1260px)
    {
        #iframe_KTCyoutube{
            text-align: center;
        }

        #KTCyoutube1{
            height: auto;
        }
        body > h3{
            text-align: center;
            font-size: 3.5vw;
        }
        #itchioButton{
            display: flex;
            justify-content: center;
            max-width: 14rem;
        }
        #authors{
            justify-content: center;
            font-size: 3.5vw;
        }
        #img_ChiliGamesBanner{
            width: 99%;
            border-radius: 2vh;
            margin: 1vw;
            margin-top: 0.5vw;
            max-height: 10rem;
        }
    }

    @media screen and (min-width: 1260px) and (max-width: 1800px)
    {
        #iframe_KTCyoutube{
            display: grid;
            grid-template-columns: 32% 35% 32%;
        }

        #KTCyoutube1{
            grid-column-start: 2;
            width: 560px;
            height: 315px;
        }
        body > h3{
            text-align: center;
            font-size: 2vw;
        }
        
        #authors{
            justify-content: center;
            font-size: 2vw;
        }
        #img_ChiliGamesBanner{
            width: 98%;
            border-radius: 3vh;
            margin: 1vw;
            margin-top: 0.5vw;
            max-height: 10rem;
        }   
    }

    @media screen and (min-width: 1801px)
    {
        #iframe_KTCyoutube{
            display: grid;
            grid-template-columns: 35% 32% 32%;
        }

        #KTCyoutube1{
            grid-column-start: 2;
            width: 560px;
            height: 315px;
        }
        body > h3{
            text-align: center;
            font-size: 2vw;
        }
        
        #authors{
            justify-content: center;
            font-size: 1.5vw;
        }
        #img_ChiliGamesBanner{
            
            width: 98%;
            max-height: 10rem;
            border-radius: 3vh;
            margin: 1vw;
            margin-top: 0.5vw;
        }
    }

/* Animations */

.bounceCss3 {
    animation: bounce 1.2s ease-out;
}

.rezize-glowCss3 {
    animation: rezize-glow 1.5s ease-in-out;
    animation-iteration-count: 2;
}

@keyframes rezize-glow {
    0% {
        transform: scale(1);
    }
    
    50%{
        transform: scale(0.2);
    }
    
    100%{
        transform: scale(1);
    }
}

@keyframes bounce {
    0% {
      transform:translateY(-100%);
      opacity: 0;
    }
    15% {
        transform:translateY(0);
    }
    30% {
        transform:translateY(-45%);
    }
    40% {
        transform:translateY(0%);
    }
    50% {
        transform:translateY(-20%);
    }
    70% {
        transform:translateY(0%);
    }
    100% {
        transform:translateY(0);
      opacity: 1;
    }
}